<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Kareem Resume</title>
</head>

    
    
<body>
    <div class="container-lg">
        <div id="app">
            <!--
            -------------------------------------------------------
                            contact
            -------------------------------------------------------
            -->
            <center>
                <h2>{{contact.name.firstNameS}} {{contact.name.lastName}}</h2>
                {{contact.email}} &bull; {{contact.mobile}} &bull; {{contact.website}} &bull; {{contact.linkedin}} &bull; {{contact.address.city}}, {{contact.address.country}}
                <br><br>
                <hr>
            </center>
            <article>
                <h1>
                    objective
                </h1>
            </article>
            <article class=" mb-3">
                <aside class="date">
                </aside>
                <div class="content">
                    {{contact.objective}}
                </div>
            </article>
            <!--
            -------------------------------------------------------
                            education
            -------------------------------------------------------
            -->
            <article>
                <h1>
                    education
                </h1>
            </article>
            <article class=" mb-3" v-for="item in education">
                <aside class="date">
                    {{item.date}}
                </aside>
                <div class="content">
                    <b> {{item.degree}}</b>, {{item.institute}}, {{item.department}}, {{item.country}}, GPA:<b>{{item.gpa}}%</b> <i> {{item.level}} </i>, <span v-if="item.rank">rank:{{item.rank}}</span>
                </div>
            </article>
            <!--
            -------------------------------------------------------
                            awards
            -------------------------------------------------------
            -->
            <article>
                <h1>
                    awards
                </h1>
            </article>
            <article class=" mb-3" v-for="item in awards">
                <aside class="date">
                    {{item.date}}
                </aside>
                <div class="content">
                    <b><a href="{{item.url}}" target="_blank"> {{item.name}}</a> {{item.reason}}</b> , {{item.institute}}
                </div>
            </article>
            <!--
            -------------------------------------------------------
                            experience
            -------------------------------------------------------
            -->
            <article>
                <h1>
                    experience
                </h1>
            </article>
            <article class="mb-3" v-for="item in experience">
                <aside class="date">
                    {{item.date}}
                </aside>
                <div class="content">
                    <b>{{item.position}}</b>, {{item.company}}, {{item.city}}, {{item.country}}
                    <ul class="bullets">
                        <li v-for="sub in item.dutiesF">
                            {{sub}}
                        </li>
                    </ul>

                </div>
            </article>
            <!--
            -------------------------------------------------------
                            skills
            -------------------------------------------------------
            -->
            <article>
                <h1>
                    skills
                </h1>
            </article>
            <article class="mb-3">
                <aside class="date">
                    Core Skills
                </aside>
                <div class="content">
                    <ul class="bullets">
                        <li v-for="item in skills.core">
                            {{item}}
                        </li>
                    </ul>
                </div>
            </article>
            <article class="mb-3">
                <aside class="date">
                    communication Skills
                </aside>
                <div class="content">
                    <ul class="bullets">
                        <li v-for="item in skills.communication">
                            {{item}}
                        </li>
                    </ul>
                </div>
            </article>
            <article class="mb-3">
                <aside class="date">
                    technical Skills
                </aside>
            </article>

            <article class="mb-3" v-for="item in skills.technical">
                <aside class="date">
                    {{item.name}}
                </aside>
                <div class="content">
                    <span v-for="sub in item.skills">{{sub}}, </span>
                </div>
            </article>
            
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="js/resume.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script>
</body>

</html>
